<div class="container-fluid bg-light p-2 mt-5" style="min-height: 100px;">
    <h3 class="text-center">@BookHub Private Limited</h3>
    <p class="text-center"><b>Gmail: </b> pankajbansal3991@gmail.com</p>
    <p class="text-center"><b>Contact No: </b> 7495057157</p>
</div>